@model List<Post>
@{
    Post newPost = new Post();
}
<partial name="New" view-data="ViewData" model="newPost"/>
<h2>All Posts</h2>
<h3>User id is @ViewBag.UserId</h3>
<table class="table table-hover post-table">
    <thead>
        <tr>
            <th>Content</th>
            <th>Author</th>
            <th>Total Votes</th>
            <th>Last to Vote</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var post in Model)
    {
        Vote lastVote = post.Votes.LastOrDefault();
        string lastToVote = (lastVote == null) 
            ? "N/A" 
            : lastVote.Voter.FullName;
        <tr>
            <td>@post.Content</td>
            <td>@post.Creator.FullName</td>
            <td>@post.Votes.Count</td>
            <td>@lastToVote</td>
            <td>
                @if(post.UserId != ViewBag.UserId)
                {
                    if(post.Votes.Any(v => v.UserId == ViewBag.UserId))
                    {
                        <a asp-action="Delete" asp-controller="Votes" asp-route-postId="@post.PostId">CANCEL</a>
                    }
                    else
                    {
                        <a asp-action="Vote" asp-controller="Votes" asp-route-postId="@post.PostId" asp-route-isUpvote="@true">Upvote</a><span> |</span>
                        <a asp-action="Vote" asp-controller="Votes" asp-route-postId="@post.PostId" asp-route-isUpvote="@false">Downbote</a>
                    }
                }
                else
                {
                    <a asp-action="Delete" asp-controller="Posts" asp-route-postId="@post.PostId">DELETE</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>